<ion-header>
  <ion-toolbar>
    <ion-title><p align="center" style="font-family:Trajan Pro Bold;">About</p></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="back">
  <ion-col>
    <img class="admin" src="..\assets\img\face\Me.jpg">
    <p class="info">Name: Christian Melendrez
      <br><br>Age: 20 Years Old
      <br><br>Sex: Male
      <br><br>Address: Las Vegas, Nevada, USA
      <br><br>Hobby: Sleeping while Eating
      <br><br>Blood Type: Type O
      <br><br>Contact Number: 09068141865 - Globe
      <br><br>Mobile Legend: 543102178(3434)
      <br><br>DOTA 2: 336972695
      <br><br>Dream: To be rich like Batman
      <br><br><br>Thank You :)
    </p>
  </ion-col>

</ion-content>
